<!DOCTYPE html>
<html>
<head>
  <title>Async XHR Example</title>
  <script>
    async function getFile() {
      let req = new XMLHttpRequest();
      req.open("GET", "/asyncxhr/file");
      req.onload = function() {
        if (req.status == 200) {
          document.getElementById("demo").innerHTML = req.response;
        } else {
          document.getElementById("demo").innerHTML = "File not Found";
        }
      };
      req.send();
    }
  </script>
</head>
<body>
  <h2>Async XHR Example</h2>
  <button onclick="getFile()">Fetch File</button>
  <div id="demo"></div>
  <a href="/">Back</a>
</body>
</html>
