<!DOCTYPE html>
<html>
<head><title>Callback Hell</title></head>
<body>
  <h2>Callback Hell Example</h2>
  <ul>
    <% result.forEach(function(line){ %>
      <li><%= line %></li>
    <% }); %>
  </ul>
  <a href="/">Back</a>
</body>
</html>
