<!DOCTYPE html>
<html>
<head><title>Express POST</title></head>
<body>
  <h2>Express GET & POST Routes</h2>
  <p><%= message %></p>

  <form action="/expresspost" method="post">
    <button type="submit">Send POST Request</button>
  </form>

  <a href="/">Back</a>
</body>
</html>
