<!DOCTYPE html>
<html>
<head>
  <title>Unit 3 Project</title>
</head>
<body>
  <h1>Unit 3 JavaScript & Node.js Examples</h1>
  <ul>
    <li><a href="/callbacks">Callbacks Example</a></li>
    <li><a href="/settimeout">setTimeout Example</a></li>
    <li><a href="/setinterval">setInterval Example</a></li>
    <li><a href="/promise">Promise Example</a></li>
    <li><a href="/asyncawait">Async/Await Example</a></li>
    <li><a href="/asyncxhr">Async with XHR</a></li>
    <li><a href="/callbackhell">Callback Hell</a></li>
    <li><a href="/httpserver">HTTP Server</a></li>
    <li><a href="/expressbasic">Express Basic</a></li>
    <li><a href="/expresspost">Express GET/POST</a></li>
    <li><a href="/routerexample">Router Example</a></li>
    <li><a href="/dynamicroute/123">Dynamic Route</a></li>
    <li><a href="/regexroute/12345">Regex Route</a></li>
    <li><a href="/notfound">404 Example</a></li>
    <li><a href="/middleware">Middleware Example</a></li>
    <li><a href="/middlewareorder">Middleware Order Example</a></li>
    <li><a href="/validator">Form Validator</a></li>
    <li><a href="/auth/login">Authentication</a></li>
  </ul>
</body>
</html>
