<!DOCTYPE html>
<html>
<head><title>Router Example</title></head>
<body>
  <h2>Express Router Example</h2>
  <p><%= message %></p>
  <a href="/routerexample/things">Go to Things Router</a><br>
  <a href="/">Back</a>
</body>
</html>
